.btn-danger {
    background-color: red !important; /* Vermelho escuro */
    border-color: red !important; /* Borda vermelha escura */
}

.btn-danger:hover {
    background-color: red !important; /* Vermelho ainda mais escuro no hover */
    border-color: red !important; /* Borda vermelha mais escura no hover */
}

body {
    background-color: #343a40; /* Cor de fundo escura */
    background-image: url('../img/japan-black-and-white-qhfa2pc4ywu341dx.jpg'); /* Adicione a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}

.card {
    border: 2px solid red !important; /* Borda vermelha */
    background-color: #1a1a1a; /* Mantém o fundo escuro */
}

.custom-card {
    border: 2px solid red !important; /* Força a borda vermelha */
}
